section > div {
	margin-right: 20px;
	border: 1px solid #5997E1;
	border-radius: 5px;
	padding: 10px;
	overflow: auto;
}

	section div figure {
		display: flex;
		justify-content: flex-start;
	}

	section div figure img {
		width: 50%;
		height: 50%;
	}

	section div figure figcaption {
		padding: 20px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	
		section div figure figcaption p:before {
			content: ">";
			padding-right: 10px;
			color: #5997E1;
			font-weight: bold;
		}
		
			section div figure figcaption p sup {
				font-size: 10px !important;
			}
	
input[type="submit"] {
	float: right;
	margin: 10px !important;
}


